html
{
	background: white;
    /*Temporary changed*/
	width: 100%;
	height: 100%;

	margin: 0px;
	padding: 0px;
	border: 0px;

}

head, body, div
{
    position: relative;
	background: white;
	margin: 0;
	padding: 0;
	border: 0;
	/*width: 100%;
	height: 100%;*/
}

.hidden
{
	display: none;
}

.invisible
{
	visibility: hidden;
}

.button
{
	position: absolute;
}

/*Calculated relative to the standard size - all buttons*/
#P01_boton_info
{
/*	width: 227.76px;
	height: 130.08px;*/
	left: 52.7%;
	top: 3%;
}

#P01_boton_iniciar
{
/*    width: 331.44px;
    height: 131.28px;*/
    left: 20.5%;
    top: 75.4%;
}

/*TODO*/
#P02_boton_saltar
{
/*    width: 156px;
    height: 109.92px;*/
    left: 1;
    top: 1;
}

#P03_boton_jugar
{
/*    width: 321.6px;
    height: 155.52px;*/
    left: 21.7%;
    top: 79.2%;
}

#P04_boton_conteo_3
{
    width: 1;
    height: 1;
    left: 1;
    top: 1;
}

#P05_boton_conteo_2
{
    width: 1;
    height: 1;
    left: 1;
    top: 1;
}

#P06_boton_conteo_1
{
    width: 1;
    height: 1;
    left: 1;
    top: 1;
}

#P07_boton_volver
{
/*    width: 238.08px;
    height: 175.92px;*/
    left: 25.3%;
    top: 81.3%;
}

/*TODO*/
#P07_boton_progreso
{
    width: 164.88px;
    height: 108.72px;
    left: 1px;
    top: 1px;
}

#P08_boton_volver
{
/*    width: 238.08px;
    height: 175.92px;*/
    left: 25.4%;
    top: 81.4%;
}

#P08_boton_lvl01
{
    position: absolute;
    left: 3200px;
    top: 0px;
}

#P08_boton_lvl02
{
    position: absolute;
    left: 3200px;
    top: 500px;
}

#P08_boton_lvl03
{
    position: absolute;
    left: 3200px;
    top: 1000px;
}

#P08_boton_lvl04
{
    position: absolute;
    left: 3200px;
    top: 1500px;
}

#P08_boton_lvl05
{
    position: absolute;
    left: 3200px;
    top: 2000px;
}

#P08_boton_lvl06
{
    position: absolute;
    left: 3200px;
    top: 2500px;
}

#P08_boton_lvl07
{
    position: absolute;
    left: 3200px;
    top: 3000px;
}

#P08_boton_lvl08
{
    position: absolute;
    left: 3200px;
    top: 3500px;
}

#P08_boton_lvl09
{
    position: absolute;
    left: 3200px;
    top: 4000px;
}

#P08_boton_lvl10
{
    position: absolute;
    left: 3200px;
    top: 4500px;
}

#P08_boton_lvl11
{
    position: absolute;
    left: 3200px;
    top: 5000px;
}

#P08_boton_lvl12
{
    position: absolute;
    left: 3200px;
    top: 5500px;
}

#P08_boton_lvl13
{
    position: absolute;
    left: 3200px;
    top: 6000px;
}

#P08_boton_lvl14
{
    position: absolute;
    left: 3200px;
    top: 6500px;
}

#P08_boton_lvl15
{
    position: absolute;
    left: 3200px;
    top: 7000px;
}

#P13_person
{
    position: absolute;
    width: 5px;
    height: 5px;
    left: 5px;
    top: 5px;
}

#P13_time
{
    position: absolute;
    left: 2px;
    top: 1px;
    color: red;
}